<footer class="mt-5 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Subvenciones España</h5>
        <p>El portal de referencia para encontrar subvenciones públicas en España.</p>
      </div>
      <div class="col-md-2 mb-3">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Inicio</a></li>
          <li><a href="#" class="text-white">Convocatorias</a></li>
          <li><a href="#" class="text-white">Ayuda</a></li>
          <li><a href="#" class="text-white">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
        <h5>Administraciones</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Gobierno de España</a></li>
          <li><a href="#" class="text-white">Comunidades Autónomas</a></li>
          <li><a href="#" class="text-white">Entidades Locales</a></li>
          <li><a href="#" class="text-white">Unión Europea</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-envelope me-2"></i> info&#64;subvenciones.es</li>
          <li><i class="fas fa-phone me-2"></i> +34 910 123 456</li>
          <li><i class="fas fa-map-marker me-2"></i> Madrid, España</li>
        </ul>
      </div>
    </div>
    <hr class="bg-light">
    <div class="row">
      <div class="col-md-6 mb-2">
        <p class="mb-0">&copy; 2023 Subvenciones España. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-linkedin fa-lg"></i></a>
        <a href="#" class="text-white"><i class="fab fa-instagram fa-lg"></i></a>
      </div>
    </div>
  </div>
</footer>
