
<div class="container my-4">
    <div class="row">
        <div class="col-md-3">
            <app-filtros
                [administraciones]="administraciones"
                [sectores]="sectores"
                [filters]="filters"
                (aplicarFiltros)="aplicarFiltros()"
                (limpiarFiltros)="limpiarFiltros()">
            </app-filtros>
            <app-info-destacada></app-info-destacada>
        </div>
        <div class="col-md-9">
            <app-convocatoria-list
                [convocatoriasFiltradas]="convocatoriasFiltradas"
                [cargando]="cargando"
                (verDetalle)="verDetalle($event)"
                (toggleFavorita)="toggleFavorita($event.convocatoria, $event.event)"
                (limpiarFiltros)="limpiarFiltros()">
            </app-convocatoria-list>
        </div>
    </div>
</div>
<app-footer></app-footer>